:root {
    --primary-color: #F5F9E9;
    --secondary-color: #CDCDB6;
    --dark-color: #000000;
    --medium-shade-color: #596869;
    --accent-color: #DC602E;
  }

  body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



.category_selection{
	display: flex;
	justify-content: center;
	/* width: 80vw; */
	padding: 2rem;
}

form{
	align-items:center;
	display: flex;
	justify-content: space-between;
}

.form-group{
	padding: 0 1rem;
}

.category_selection select{
	padding: .3rem;
	margin-left: .5rem;
	border-radius: 5px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1.25rem;
}

.product {
	width: clamp(12.5rem, 20rem, 31.25rem);
	margin: 0.625rem;
	border: 0.063rem solid #ddd;
	padding: 0.625rem;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
}

.product img {
	max-width: 100%;
}

.product h2 {
	margin: 0.625rem 0;
}

.category{
	background-color: var(--accent-color);
	color: var(--primary-color);
	width: max-content;
	padding: .2rem 0.5rem;
	border-radius: 5px;
	margin: auto;
}

.price {
	font-weight: bold;
	font-size: 1.7rem;
	margin-bottom: 1rem;
}
.product p {
	font-size: 1rem;
	margin: 0.625rem 0;
	color: var(--medium-shade-color);

}
.card_form{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.quantity {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2rem auto 0;
}

.quantity select{
	padding: .5rem;
	border: 0.063rem solid #ccc;
	border-radius: 0.1875rem;
}

.quantity label {
	margin-right: 0.625rem;
}

.quantity input[type="number"] {
	width: 3.125rem;
	padding: 0.55rem;
	border: 0.063rem solid #ccc;
	border-radius: 0.1875rem;
	text-align: center;
}

button {
	background-color: var(--dark-color);
	color: var(--primary-color);
	padding: 0.625rem;
	margin: 1rem 0;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}
